@import '../../brand-colours.sass'
@import '../../variables.sass'

@mixin border-left($value)
    border-bottom-left-radius: $value
    border-top-left-radius: $value

.delivery-button
    border: 0
    padding: 0
    border-radius: $border-radius
    cursor: pointer
    width: 100%
    position: relative
    background-color: $brand-white
    box-shadow: $shadow

.delivery-button-background
    @include border-left(7rem)
    height: 100%
    width: 75%
    right: 0
    transform: scaleX(0.3) translateX(117%)
    position: absolute
    background-color: $brand-blue-200
    transition: all 300ms ease-out

    @media (min-width:550px)
        width: 65%

.delivery-button:hover > .delivery-button-background
    @include border-left(0)
    width: 335%
    transition: all 300ms ease-out

.delivery-button-body
    @include flex(row, center, space-between)
    padding: $margin-padding / 2
    position: relative

.delivery-button-delivery-container
    @include flex(column, flex-start, center)

.delivery-button-date-text
    padding-left: $margin-padding / 3

.delivery-button-van-container
    background-color: #eff9ed
    @include flex(row, center, center)
    width: fit-content
    padding: $margin-padding / 3
    margin-top: $margin-padding / 3

.delivery-button-van-text
    padding-left: $margin-padding / 3

.delivery-button-calendar-container
    @include flex(column, center, center)
    position: relative

.delivery-button-day-text
    position: absolute
    bottom: 18px
