@import '../../brand-colours.sass'
@import '../../variables.sass'

.delivery-card
    background-color: $grey-100
    width: fit-content
    padding: $margin-padding

.delivery-card-main-text-container
    margin-bottom: $margin-padding

.delivery-card-text-container
    background-color: $grey-200
    padding: $margin-padding / 3
    width: fit-content
    border-radius: $border-radius

.delivery-card-title
    white-space: nowrap
    padding-bottom: $margin-padding / 2
