@import '../../brand-colours.sass'
@import '../../variables.sass'

@keyframes open-calendar-animation
    0%
        top: -100%
    90%
        top: 55%
    100%
        top: 50%

@keyframes close-calendar-animation
    0%
        top: 50%
    10%
        top: 55%
    100%
        top: -100%

@keyframes open-calendar-animation-mobile
    0%
        top: -150%
    100%
        top: 0

@keyframes close-calendar-animation-mobile
    0%
        top: 0
    100%
        top: -150%

.calendar-modal
    @include flex(column, center, center)
    width: 100%
    height: 100%
    padding: $margin-padding * 2
    position: absolute
    top: -150%
    background-color: $brand-white
    animation: open-calendar-animation-mobile 1000ms ease-out forwards

    @media (min-width:550px)
        width: 450px
        height: auto
        transform: translate(-50%)
        left: 50%

    @media (min-width:850px)
        width: 450px
        height: auto
        animation: open-calendar-animation 1000ms ease-out forwards
        transform: translate(-50%, -50%)
        left: 50%

.close-calendar-modal-animation
    top: 0
    animation: close-calendar-animation-mobile 1000ms ease-out forwards

    @media (min-width:850px)
        top: 50%
        animation: close-calendar-animation 1000ms ease-out forwards

.calendar-modal-buttons-container
    @include flex(row, center, center)
