@import '../../brand-colours.sass'
@import '../../variables.sass'

.date-picker-container
    display: grid
    padding: $margin-padding / 2
    grid:
        gap: 0.2rem
        template-columns: repeat(7, 1fr)

.date-picker-cell
    @include flex(row, center, center)
    width: 2.5rem
    height: 2.5rem

    @media (min-width:550px)
        width: 3.5rem
        height: 3.5rem

.date-picker-header-cell
    margin-top: $margin-padding

.date-picker-body-cell-disabled
    background-color: $grey-200

.date-picker-body-cell
    border: solid 1px $brand-red-400
    cursor: pointer
    transition: all 200ms ease-in-out

    &:hover
        background-color: $brand-red-400

    &:hover > p
        color: $brand-white

.date-picker-cell-selected
    background-color: $brand-red-400
    cursor: pointer

.date-picker-inner-cell-selected
    @include flex(column, center, center)
    width: 100%

.selected-cell-text
    align-self: flex-end
    padding-right: $margin-padding / 2

.selected-cell-icon
    align-self: flex-start
    padding-left: $margin-padding / 2
