@import '../../brand-colours.sass'

@keyframes open-backdrop-animation
  from
    opacity: 0
  to
    opacity: 0.3

@keyframes close-backdrop-animation
  from
    opacity: 0.3
  to
    opacity: 0

.backdrop
  position: fixed
  width: 100vw
  height: 100vh
  background: $brand-black
  top: 0
  animation: open-backdrop-animation 1000ms ease-out forwards

.close-backdrop-animation
  opacity: 0.3
  animation: close-backdrop-animation 1000ms ease-out forwards
