@import '../../brand-colours.sass'
@import '../../variables.sass'

.button
    cursor: pointer
    margin: $margin-padding
    text-align: center
    text-transform: uppercase
    max-width: 18rem
    width: 100%
    max-height: 3rem

    &:focus
        outline: none

.button-box
    @extend .button
    padding: $margin-padding / 2
    background-color: $brand-white
    color: $brand-red-400
    border: 1px solid $brand-red-400
    border-radius: $border-radius
    font-size: 1rem
    box-shadow: $shadow
    transition: all 200ms ease-in-out

    &:hover
        background-color: $brand-red-400
        color: $brand-white

.button-text
    @extend .button
    border: 0
    background-color: transparent
    color: $grey-400
    font-size: 0.8rem
    transition: color 200ms ease-in-out

    &:hover
        color: $brand-red-400
