@import '../../_fonts.sass'
@import '../../brand-colours.sass'

.text
    margin: 0

.title
    font-family: $font-family-headings
    font-size: 1.5rem
    font-weight: 700

    @media (min-width:550px)
        font-size: 2rem

.body1
    font-family: $font-family-base-mono
    font-size: 1rem
    font-weight: 600

    @media (min-width:550px)
        font-size: 1.2rem

.body2
    font-family: $font-family-base-mono
    font-size: 0.8rem

    @media (min-width:550px)
        font-size: 1rem

.body3
    font-family: $font-family-base-mono
    font-size: 0.7rem

    @media (min-width:550px)
        font-size: 0.8rem

.red
    color: $brand-red-400

.blue
    color: $brand-blue-500

.white
    color: $brand-white

.gray
    color: $grey-600
