@font-face
  font-family: 'cooperhewitt'
  src: font-url("./fonts/CooperHewitt-Bold.eot")
  font-weight: 500
  font-style: normal
  font-display: auto

@font-face
  font-family: 'cooperhewitt'
  src: font-url("./fonts/CooperHewitt-Bold.eot")
  font-weight: bold
  font-style: normal
  font-display: auto

@font-face
  font-family: 'gt-pressura-mono'
  src: font-url("./fonts/GTPressuraMono.eot")
  font-weight: 200
  font-style: normal
  font-display: swap

@font-face
  font-family: 'gt-pressura-mono'
  src: font-url("./fonts/GT-Pressura-Mono-Bold.eot")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'gt-pressura-regular'
  src: font-url("./fonts/GT-Pressura-Regular.eot")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'gt-pressura-regular'
  src: font-url("./fonts/GT-Pressura-Bold.eot")
  font-weight: 700
  font-style: normal
  font-display: swap

$font-family-base-mono: 'gt-pressura-mono', courier, courier-new, monospace
$font-family-base-regular: 'gt-pressura-regular', helvetica, arial, sans-serif
$font-family-headings: 'cooperhewitt', helvetica, arial, sans-serif
