$shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
$border-radius: 0.3rem
$margin-padding: 1rem

@mixin flex($direction, $align, $justify)
    display: flex
    flex-direction: $direction
    align-items: $align
    justify-content: $justify
